@import '/public/css/resetstyles.css'; 

@media (max-width: 480px) {
    body {
        margin-left: 7%;
    }
}

body{
    background: linear-gradient(180deg, #EE9757 0%, #EE9757 46.88%, rgba(232, 175, 133, 0) 100%);
    background-repeat: no-repeat;
}
  
main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    #outer-box{
        background: linear-gradient(180deg, #FDBF00 0%, rgba(158, 141, 89, 0.6) 100%);
        position: relative;
        width: 310px;
        height: 174px;
        border-radius: 20px;
        
    }

    #inner-box{
        position: absolute;
        background: white;
        width: 225px;
        height: 70px;
        border-radius: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    p{
        margin-top: 12%;
        text-align: center; 
    }

    .logo-spin{
        width: 310px;
        border-radius: 20px;
    }
}
}

