 body {
    background: linear-gradient(180deg, #EE9757 90%, 10%, rgba(238, 151, 87, 0) 100%);
    box-sizing: border-box;
}
.container {
    position: absolute;
    background: #EDEDED;
    width: 298px;
    height: 463px;
    left: 80px;
    top: 139px;
    border: 1px solid #000000;
    border-radius: 20px;
    text-align: center;
} 

