body {
    background: linear-gradient(180deg, #EE9757 0%, #EE9757 46.88%, rgba(232, 175, 133, 0) 100%);
    background-repeat: no-repeat;
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
}

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }    
        .container {
            margin-top: 12%;
            position: relative;
            width: 33%;
            border-radius: 20px;
            background-color: rgb(170, 170, 170);
            border: 2px solid black;

            .norm-initial {
                text-align: center;
                margin: 15px 5px 0 5px;
                font-weight: 700px;
                color: #000000;
            }

            .rules-list {
                list-style: none;

                li {
                    display: flex;
                    align-items: center;
                    line-height: 22px;
                    width: 400;
                    margin-right: 15px;
                    color: #000000;
                }

                i {
                    margin-right: 10px;
                }
            }
        }

        .contain-button {
            margin-top: 5%;

            .start-button {
                position: relative;
                padding: 15px;
                background: #2CC17A;
                border-radius: 20px;
                border: none;
                cursor: pointer;
            }

            .link-start {
                text-decoration: none;
                font-weight: 700;
                color: #000000;
                font-family: 'Courier Prime';
            }
        }

    
