<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" src="/public/css/resetstyles.css">
</head>
<body>
    <header>
        <h1>Header dummy</h1>
    </header>
    <main>
        <div id="add" class="container">
            <input type="text" placeholder="Introduce jugador">
            <button type="button" value="add">Añadir</button>
        </div>
        <div id="gamers" class="container">
            <div id="gamer" class="container">
                gammerDummy
            </div>
        </div>
        <div id="winners" class="container">
            <div id="winner" class="container">
                winnerDummy
            </div>
        </div>
        <button type="button" value="start">START</button>
        <button type="BUTTON" value="reset">RESET</button>
    </main>
    <footer>
        footer dummy
    </footer>
</body>
</html>