<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/resetstyles.css">
    <link rel="stylesheet" href="../css/players.css" type="text/css">
    <link rel="stylesheet" href="../css/header-footer.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/src/images/logo.png" alt="logo" class="logo">
        </div>
        <h1 class="title">Wheel of F5 Games</h1>
    </header>
    <main>
        <div class="layout">
            <div id="add" class="container">
                <input type="text" placeholder="Introduce jugador" id="text-add">
                <button type="button" value="add" id="add-button">Añadir</button>
            </div>
            <div id="gamers" class="container"></div>
            <div id="winners" class="container"></div>
            <div id="buttons">
                <button type="button" value="start" id="start">START</button>
                <button type="button" value="reset" id="reset">RESET</button>
            </div>
        </div>
    </main>
    <footer>
        <div class="copyright">
            F5 GAMES COPYRIGHT
        </div>
    </footer>
    <script src="../js/adds.js"></script>
    <script src="../js/playing.js"></script>
    <script src="../js/prevgamers.js"></script>
    <script src="../js/deletegamers.js"></script>
</body>
</html>