<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lottery</title>
    <link rel="stylesheet" href="../css/resetstyles.css">
    <link rel="stylesheet" href="../css/lottery.css">
    <link rel="stylesheet" href="../css/header-footer.css">
</head>
<body>
    <header>
        <div>
            <img src="/src/images/logo.png" alt="logo" class="logo">
        </div>
        <h1 class="title">Wheel of F5 Games</h1>
    </header>
    <main>
        <div id="outer-box" class="container">
            <div id="inner-box" class="container">
              <p>ELIGIENDO GANADOR</p>
            </div>
        </div>
        <div  class="logo-spin">
            <img src="/src/images/logo-spin.png" alt="logo" id="logo-white">
        </div>          
    </main>
    <footer>
        <div class="copyright">
            F5 GAMES COPYRIGHT
        </div>
    </footer>
</body>
</html>