<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheel of</title>
    <link rel="stylesheet" href="/public/css/resetstyles.css">
    <link rel="stylesheet" href="/public/css/lottery.css">
</head>
<body>
    <header>
        <h1>Header dummy</h1>
    </header>
    <main>
        <div id="outer-box" class="container">
            <div id="inner-box" class="container">
              <p>ELIGIENDO GANADOR</p>
            </div>
        </div>
        <div id="logo-spin" class="logo">
            <img src="/src/images/logo.png" alt="logo">
        </div>          
    </main>
    <footer>
        footer dummy
    </footer>
</body>
</html>