<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winner</title>
</head>
<body>
    <header>
        <h1>Header dummy</h1>
    </header>
    <div class="container" id="outer-container">
        <div class="container" id="inner-container">
            <h4 id="winner" class="msg">
                WINNER
            </h4>
        </div>
    </div>
    <footer>
        footer dummy
    </footer>
</body>
</html>